@import url('https://fonts.googleapis.com/css?family=Lato:700');

body {
    padding-top: 54px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.lato-green{
    font-family: 'Lato', sans-serif;
    color: #7dca10 !important;
}

.lato-light-green{
    font-family: 'Lato', sans-serif;
    color: #7dca10 !important;
}

.estimate{
    margin: 100px 0;
    background:#7dca10;
    padding: 20px 0;
    border-radius: 2px;
    font-weight: bolder;
}

.lead{
    font-size: 2em;
}

.bg-dark{
    background: #7dca10 !important;
    color: black !important;
}

.masthead{
    text-shadow: 1px 1px 1px #000;
}

.backTheFuckUp{
    margin-bottom: 70px;
    margin-top: 50px;
}

.navbar-light .navbar-brand {
    color: #28a745;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.footer-bs {
	padding: 60px 40px;
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:black; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color: black; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:black; text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:black; }
.footer-bs .footer-nav ul.list a:hover { color:black; text-decoration:none; }

.footer-bs .footer-social h4 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color: black;}
.footer-bs .footer-social a:hover { color: black; text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color: black; }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

header.masthead {
    background: url('../img/header.jpg') no-repeat top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}
